.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
  .image {
    width: 100%;
  }
}
