.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  background-color: #f5f7fa;
  height: auto;
}

.buttonContainer {
  text-align: center;
  margin: 2rem 0;
}

.orange {
  color: #ed7123;
}

.welcome {
  text-align: center;
  padding: 2rem 0 5rem 0;
}
